body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background-color: #DAD2D8;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em #EFA00B;
  background-color: #143642;
  width: inherit;
  height: 172px;
  margin-top: -10px;
  box-sizing: border-box;
}

.headerTitle {
  font-family: 'Anton', sans-serif;
  font-size: 4.5em;
  margin: 0;
  margin-left: 0.3em;
  color: #EFA00B;
}

.userBox{
  display: flex;
  align-items: center;
  color: #EFA00B;
  margin-right: 1em;
}

.userPic {
  border-radius: 50%;
  height: 4em
}

.userName {
  font-size: 1.5em;
  margin: 0em;
  margin-right: 1em;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #143642;
  color: #EFA00B;
}

.navLink {
  font-size: 1.5em;
  text-decoration: none;
  color: #EFA00B;
}

.topicsBox {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

.topicsCardsBoxes {
  align-items: flex-start;
  border-radius: 25px;
  background: #660000;
  padding: 20px;
  width: 90%;
  height: 150px;
  color: #DAD2D8;
  margin-bottom: 2em;
}

.articlesBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

.articleListHeader {
  font-size: 3em;
  margin: 0;
  margin-top: 0.3em;
}

.articleCards {
  border-radius: 25px;
  background: #0F8B8D;
  padding: 20px;
  width: 90%;
  height: 400px;
  margin-bottom: 3em;
  color: #DAD2D8;
}

.noBulletPointsPlease {
text-decoration: none;
list-style-type: none;
}

.articlesHeader{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-left: 2em;
}

.sortByBox {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.singleArticleFullBox {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 25px;
  background: #0F8B8D;
  padding: 20px;
  width: 90%;
  height: initial;
  margin-bottom: 3em;
  color: #DAD2D8;
}

.singleArticleBodyBox {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-areas: "main" "votes";
}

.votesButton {
  grid-area: "votes";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.votesText {
  font-size: 2em;
  color: #660000;
}

.commentBox {
  border-radius: 25px;
  background: #DAD2D8;
  padding: 20px;
  width: 90%;
  height: 30em;
  margin-bottom: 3em;
  color: #143642;
}

.commentForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.commentInputBox {
  width: 104%;
  height: 5em;
  border-radius: 10px;
}

.commentInputButton {
  width: 10%;
  height: 2em;
  border-radius: 10px;
}